@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap);

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.overflow-wrapper {
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.dark-btn {
  color: white;
  background-color: #13183f;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 167px;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.dark-btn:hover {
  opacity: 0.8;
}
