@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.container,
.continer {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  text-decoration: none;
  list-style: none;
}

.dark-btn {
  color: white;
  background-color: #13183f;
  border: none;
  border-radius: 28px;
  width: 167px;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.dark-btn:hover {
  background-color: #666ca3;
}

/* Hero Section*/
.hero {
  position: relative;
  padding-bottom: 140px;
}

/* .hero::after {
  content: "";
  position: absolute;
  top: -100px;
  right: -150px;
  width: 45%;
  height: 900px;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 0 0 0 310px;
  z-index: -1;
} */

.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 445px;
}

.hero-text h1 {
  color: #13183f;
  font-size: 56px;
  font-weight: 800;
  line-height: 70px;
}

.hero-text p {
  color: #83869a;
  font-size: 18px;
  line-height: 28px;
  margin: 25px 0 40px;
}

.hero-btn {
  color: white;
  background: var(--Gradient-1, linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%));
  margin-top: 2rem;
  width: 167px;
  height: 56px;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.hero-btn:hover {
  opacity: 0.6;
}

/* Hero Image & Stat Cards*/
.hero-img {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  width: 350px;
  height: 560px;
  opacity: 1;
  left: 168px;
  border-radius: 158.5px;
}

.hero-img img {
  max-width: 100%;
  z-index: 1;
}

.stat-card {
  position: absolute;
  background: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(6, 22, 141, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.stat-card span {
  color: #83869a;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.stat-card strong {
  color: #13183f;
  font-size: 32px;
  font-weight: 800;
}

.members-card {
  top: 10%;
  right: -10px;
}

.hours-card {
  bottom: 25%;
  left: -20px;
}

/* Courses Grid */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 30px;
  margin-top: 100px;
  padding-bottom: 140px;
}

.course-card {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.04);
  border-radius: 15px;
  padding: 64px 32px 32px;
  position: relative;
}

.promo-card {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  display: flex;
  align-items: center;
}

.promo-card h2 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}

.course-card .icon {
  position: absolute;
  top: -28px;
  left: 32px;
}

.course-card h3 {
  color: #13183f;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 24px;
}

.course-card p {
  color: #83869a;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
}

.get-started-link {
  color: #f02aa6;
  font-weight: 700;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: #13183f;
  padding: 32px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  filter: brightness(0) invert(1);
}

.footer-btn {
  color: white;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  width: 167px;
  height: 56px;
  border: none;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
